
.break_parent{
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 100%;
    align-items: center;
    margin-top: 50px;
    

}
.break_start_head{
   font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
}
.break_child_two_1 select{
   width:400px;
    height: 35px;
    border-radius: 5px;
    border:none;
    outline: 0;
    text-indent: 20px;
}
.break_child_two_2 div input{
   width:400px;
    height: 35px;
    border-radius: 5px;
    border: 0.3px solid rgb(197, 195, 195);
    outline: 0;
}
.break_child_two_8 div textarea{
   width:400px;
   height: 55px;
   border-radius: 5px;
   border: 0.3px solid rgb(197, 195, 195);
   outline: 0;
   resize: none;
}
.break_child_two_3 div input{
   width:400px;
    height: 35px;
    border-radius: 5px;
    border:none;
    outline: 0;
    text-indent: 20px;
    background: none;
}

.break_child_two_4 div input{
   width:400px;
    height: 35px;
    border-radius: 5px;
    border:none;
    outline: 0;
    text-indent: 20px;
    background: none;
}
.break_child_two_5 div input{
   width:400px;
    height: 35px;
    border-radius: 5px;
    border:none;
    outline: 0;
    text-indent: 20px;
    background: none;
}
.break_child_two_6 div button{
   width:135px;
    height: 35px;
    border-radius: 7px;
    outline: 0;
    border: none;
    box-shadow:  0 0 2px rgb(14, 13, 13);
    background-color:#293750;
    color: white;
}
.break_child_two_6 div button:hover{
   background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
   color: white;
   border-radius: 20px;
}
.break_child_two{
   
    padding: 35px;
    border-radius: 5px;
    /* background-image: linear-gradient(to right, rgb(156, 149, 126) , rgb(214, 247, 153)); */
            display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 13px;
    text-transform: capitalize;
 border-radius: 10px;
     background-color: #ffffff;
     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.select-options{
   background-color: blueviolet;
}
@media only screen and (max-width: 900px) {
 
   .break_child_one{
    display: none;
   }
  }
  @media only screen and (max-width: 500px) {
     .break_child_two{
        border: 0.3px solid rgb(197, 195, 195);
     
       
    }
  
   }
   @media only screen and (max-width: 450px) {
    .break_child_two{
       border: 0;
       padding: 0;
       padding: 30px;
   }
   .break_child_two_1 select{
    width:300px;
 }
 .break_child_two_2 div input{
    width:300px;
   
 }
 .break_child_two_3 div input{
    width:300px;
   
 }
 .break_child_two_4 div input{
    width:300px;
   
 }
 .break_child_two_5 div input{
    width:300px;
   
 }
 .break_child_two_8 div textarea{
   width:300px;
}
 .break_child_two_6 div button{
    width:300px;
   
 }
  }
  @media only screen and (max-width: 400px) {
    .break_child_two{
       border: 0;
       padding: 30px;
      
   }
   .break_child_two_1 select{
    width:220px;
 }
 .break_child_two_2 div input{
    width:220px;
   
 }
 .break_child_two_3 div input{
    width:220px;
   
 }
 .break_child_two_8 div input{
   width:220px;
  
}
 .break_child_two_4 div input{
    width:220px;
   
 }
 .break_child_two_5 div input{
    width:220px;
   
 }
 .break_child_two_6 div button{
    width:220px;
   
 }
 .break_child_two_8 div textarea{
   width:220px;
}
  }
  @media only screen and (max-width: 350px) {
    .break_child_two{
       border: 0;
       padding: 20px;
      
   }
   .break_child_two_1 select{
    width:200px;
 }
 .break_child_two_2 div input{
    width:200px;
   
 }
 .break_child_two_3 div input{
    width:200px;
   
 }
 .break_child_two_8 div input{
   width:280px;
  
}
 .break_child_two_4 div input{
    width:200px;
   
 }
 .break_child_two_5 div input{
    width:200px;
   
 }
 .break_child_two_6 div button{
    width:200px;
   
 }
 .break_child_two_8 div textarea{
   width:200px;
}
  }
  