@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");





.content {
  position: fixed;
    left: 60%;
    top: 5%;
 z-index: -1;
}

.content h2 {
  color: #fff;
  font-size: 2em;
  position: absolute;
  transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke:1px #a4d1e7;
}

.content h2:nth-child(2) {
  color: #1350a0;
  animation: animate 3s ease-in-out infinite;
}
@media only screen and (max-width: 1300px) {
  .content {
    position: fixed;
      left: 50%;
   
  }
}
@media only screen and (max-width: 777px) {
  .content {
    position: fixed;
      left: 50%;
   top: 10%;
  }
}
@media only screen and (max-width: 600px) {

  .content h2 {
    color: #fff;
    font-size: 2em;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  
}
@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}