.permission_req_parent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;   
}
.permission_req_child_two div input{
    width: 300px;
    height: 35px;
    border: 0.3px solid rgb(197, 195, 195);
    outline: 0;
    border-radius: 8px;
    -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

input[type='text']{
    padding-left: 5px;
}

.permission_req_child_two input:focus{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.permission_req_child_two_1 div textarea{
    width: 300px;
    height: 50px;
    border: 0.3px solid rgb(197, 195, 195);
    outline: 0;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    /* border-radius: 8px; */
}

.permission_req_child_two_1 textarea:focus{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.permission_req_child_two_4 div select {
    width: 300px;
    height: 35px;
    border: 0.3px solid rgb(197, 195, 195);
    outline: 0;
    border-radius: 8px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
} 

.permission_req_child_two_4 select:focus{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.permission_req_child_two_5 div button{
    width: 300px;
    height: 35px;
    border:none;
    outline: 0;
    box-shadow:  0 0 2px rgb(14, 13, 13);
    background-color:#293750;
    color: white;
    border: none;
    border-radius: 4px;
}

.permission_req_child_two_5 div button:hover{
    background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
    color: white;
    border-radius: 20px;

}
.permission_header{
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}
.permission_req_child_two{
    width: fit-content;
    padding: 35px;
    display: flex;
    flex-direction: column;
   gap: 5px;
    border-radius: 8px;
    text-align: left;
    text-transform: capitalize;
    font-size: 13px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
@media only screen and (max-width: 1000px) {
    .permission_req_child_one{
     display: none;
    }
    }
    @media only screen and (max-width: 400px) {
        .permission_req_child_one{
         display: none;
        }
        .permission_req_child_two div input{
            width: 200px;
            height: 30px;
           
        }

        .permission_req_child_two_1 div textarea{
            width: 200px;
            height: 30px;
        }
        .permission_req_child_two_4 div select{
            width: 200px;
            height: 30px;
        }
        .permission_req_child_two div button{
            width: 200px;
            height: 30px;
           
        }
        .permission_req_child_two{
            padding: 10px;
        }
        }